*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Content colors*/
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  /*Background Colors*/
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  /*Accent*/
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0af;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(91.26deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%)
  --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%)

  /*typography*/
  --sora: "Sora", sans-serif;
  --roboto-mono:"Roboto Mono", monospace;
  --roboto-flex:"Roboto Flex", sans-serif;

}



@media only screen and (min-width: 320px) and (max-width: 1023px) {
}
